<h3 style ="text-align: center; ">
      Welcome to My Test Rails App!
</h3>
<script type="text/javascript">
	$ (document).ready(function() {
    $('h3').hide().fadeIn(3000);
  });
	
</script>
<ul>
   <li><a href="/posts">View all the Posts</a></li>
   <li><a href="/posts/new">Create a new post</a></li>

</ul>